<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pod Logs</title>
    <style>
        body { font-family: monospace; margin: 20px; white-space: pre-wrap; }
        h2 { margin-bottom: 20px; }
        a { display: inline-block; margin-bottom: 20px; text-decoration: none; color: #008CBA; }
    </style>
</head>
<script defer src="/sidebar.js"></script>
<body>
<h2>Logs for Pod: <span th:text="${podName}"></span></h2>
<a href="/">Back to Pods</a>
<pre th:text="${logs}"></pre>
</body>
</html>